.form-input
  width: 80%
  padding: 8px
  border-radius: 4px
  border: 1px solid black
  background: transparent
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif


.form-input-invalid
  border: 1px solid tomato
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both

.form-input-error
  outline: 1px solid tomato