$color-gray: #DAD4C5
$color-gray-light: #EDEAE2
$color-gray-dark: #848484
$color-green: #34765F
$color-blue: #4351BA
$color-orange: #EB743B
$color-pink: #D64E72

$BP1: 500px
$BP2: 501px
$BP3: 1000px
$BP4: 1300px
$BP5: 2500px

.body-container
  position: relative
  display: flex
  flex-direction: column
  height: 100vh
  padding: 0 10%
  background-color: $color-gray
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.main-container
  display: flex
  flex-direction: column
  flex-grow: 1
  padding-bottom: 50px

.section-container
  width: 100%
  padding: 30px 0

.title-h1
  font-weight: 600
  font-size: 40px
  margin-bottom: 20px
  text-align: center

.title-h2
  font-weight: 600
  font-size: 30px

.main-text-container
  display: inline-block
  width: 100%
  text-align: center

.text-medium
  font-size: 18px
  margin-bottom: 6px

.modal-container
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.3)

.modal-wrapper
  position: absolute
  width: 400px
  height: auto
  top: 10%
  left: 50%
  transform: translateX(-50%)
  padding: 30px 40px 30px
  background-color: $color-gray-light
  border-radius: 4px

.close-icon
  position: absolute
  top: 20px
  right: 25px
  width: 10px
  cursor: pointer

.form
  margin: 0 auto

.form-fieldset
  display: flex
  flex-direction: column
  gap: 10px
  margin: 0 auto 20px
  padding: 0
  border: none
  position: relative

.form-input
  width: 100%
  padding: 8px
  border-radius: 4px
  border: 1px solid black
  background: transparent

.form-input-invalid
  border: 1px solid tomato
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both

.form-button-group
  display: flex
  justify-content: end
  gap: 20px

.form-button
  display: flex
  align-content: center
  gap: 10px
  cursor: pointer
  padding: 6px 12px
  font-size: 15px
  color: white
  background-color: var(--color-purple)
  border-radius: 4px
  border: none
  box-shadow: var(--shadowLigt)

.form-text
  margin-top: 2px
