@import ./App.sass
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap')

*
  box-sizing: border-box
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: $color-gray
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

#root
  min-height: 100vh
  position: relative
  display: flex
  flex-direction: column
  padding: 0 10%
  background-color: $color-gray
  